.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: var(--mobile);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: var(--tablet);
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: var(--desktop);
    padding: 0 128px;
  }
}
