.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .container {
    width: var(--mobile);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: var(--tablet);
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    /* width: var(--desktop); */
    /* padding: 0 128px; */

    width: calc(var(--desktop) - 128px);
    padding: 0;
    margin-inline: auto;
    max-width: 1152px;
  }
}
