@media screen and (max-width: 767.98px) {
  .section {
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 75px 0;
  }
}

section {
  transform: translateY(100px);
  opacity: 0;
  transition: 500ms var(--transition-effect);
}

section.appear {
  opacity: 1;
  transform: translateY(0);
}
