/* The first column containing the logo and contact info */

.footer {
  padding-top: 64px;
  /* 32/40 */
  background-color: var(--primary-text-color);
  color: var(--white-color);
  padding-bottom: 16px;
}

.footer__container.container {
  padding-bottom: 110px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  padding-bottom: 110px;
}

.footer__contact__list__item {
  display: flex;
  flex-direction: column;
  color: var(--footer-light-text-color);
  font-size: 14px;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}

.footer__contact__list__item a {
  color: var(--white-color);
  font-size: 14px;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.29;
  text-decoration: none;
}

.label,
.value {
  display: block;
}

/* The second column containing menu items */
.footer__menu__link:hover,
.footer__menu__link:focus {
  color: var(--accent-color);
}

.footer__social__list {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  /* gap: 10px; */
  gap: 12px;
  /* list-style: none; */
}

.footer__social__link {
  padding: 8px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  transition: border var(--transition-effect), var(--transition-time);
}

.footer__social__link:hover .footer__social__icon,
.sfooter__social__link:focus .footer__social__icon {
  fill: var(--accent-color);
}

.footer__social__icon {
  width: 28px;
  height: 28px;
  fill: var(--white-color);

}

.footer__social__link:hover,
.sfooter__social__link:focus {
  border: 1px solid var(--light-accent-color);
}

.footer-left,
.footer-right {
  flex: 1;
  text-align: left;
  text-align: right;

}


/* For the footer line and copyright and terms */
.copyright-privacy-terms.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  width: 100%;

}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link-container {
  display: flex;
  gap: 10px;
}

.copyright-text,
.powered-by,
.terms-link,
.privacy-link {
  margin: 5px;
}

.small-text {
  color: rgba(255, 255, 255, 0.60);
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  /* 128.571% */
  letter-spacing: -0.0175rem;
  opacity: 0.9;
}

.copyright-privacy-terms-team {
  padding-top: 110px;
}