/* The first column containing the logo and contact info */
.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--footer-bg-color);
  color: var(--footer-primary-text-color);
}

/* tablet */
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 16px;
  }
}

/* desktop */
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 64px;
  }
}

.footer__container.container {
  padding-bottom: 40px;
}

.footer__container {
  display: block;
  justify-content: space-between;
  color: var(--footer-primary-text-color);
  padding-top: 64px;
  padding-bottom: 64px;
  padding-bottom: 110px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    color: var(--footer-primary-text-color);
  }
}

.footer__menu {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__menu {
    padding-top: 0;
    padding-bottom: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__menu {
    padding-top: 0;
    padding-bottom: 64px;
  }
}

.footer__contact__list {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer__contact__list {
    padding-top: 32px;
  }
}

.footer__contact__list__item {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}

.footer__contact__list__item a {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  text-decoration: none;
}

.label,
.value {
  display: block;
}

.footer__contact__list>.footer__contact__list__item:first-child {
  margin-bottom: 16px;
}

/* The second column containing menu items */
.footer__menu__list__item + .footer__menu__list__item {
  margin-top: 20px;
}

.footer__menu__link:hover,
.footer__menu__link:focus {
  color: var(--accent-color);
  transition: color var(--transition-effect), var(--transition-time);
}

.footer__social__list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__social__link {
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--social-border-color);
  transition: border var(--transition-effect), var(--transition-time);
}

.footer__social__link:hover .footer__social__icon,
.footer__social__link:focus .footer__social__icon {
  fill: var(--accent-color);
}

.footer__social__icon {
  width: 28px;
  height: 28px;
  fill: var(--footer-primary-text-color);
}

.footer__social__link:hover,
.sfooter__social__link:focus {
  border: 1px solid var(--light-accent-color);
}

/* For the footer line and copyright and terms */
.copyright-privacy-terms {
  display: block;
  border-top: 1px solid var(--social-border-color);
  padding-top: 10px;
}

.top-row {
  display: block;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.link-container {
  display: flex;
  gap: 10px;
}

.copyright-text,
.our-team-link,
.terms-link,
.privacy-link {
  margin: 5px;
}

.our-team-link:hover,
.our-team-link:focus,
.terms-link:hover,
.terms-link:focus,
.privacy-link:hover,
.privacy-link:focus {
  color: var(--accent-color);
  transition: color var(--transition-effect), var(--transition-time);
}

.small-text {
  color: var(--footer-secondary-text-color);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.0175rem;
  opacity: 0.9;
}

.copyright-privacy-terms-team {
  padding-top: 110px;
}

.our-team-link .small-text,
.privacy-link .small-text {
  text-transform: capitalize;
}

/* Set color for hovering over the li and its child elements */
.footer__contact__list__item:hover,
.footer__contact__list__item:hover .value,
.footer__contact__list__item:hover .value a {
  color: var(--accent-color);
  transition: color var(--transition-effect), var(--transition-time);
}

/* Set a different color specifically for .label on hover over the li */
.label {
  transition: color var(--transition-effect) var(--transition-time);
}

.footer__contact__list__item:hover .label {
  color: var(--light-accent-color);
}
