@media (1280px <= width) {
  .section.about-us__section {
    padding-top: var(--section-about-padding-top-desktop);
  }
}

.section__subtitle--center {
  @media (768px <= width) {
    width: 658px;
  }
}

.about-us__wrapper {
  display: flex;
  gap: 20px;

  @media (width < 1280px) {
    flex-direction: column;
  }

  @media (768px <= width) {
    gap: 32px;
  }
}

.about-us_list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  counter-reset: customCounter;

  @media (width < 768px) {
    flex-direction: column;
    gap: 20px;
  }

  @media (1280px <= width) {
    width: 682px;
  }
}

.about-us_list__item {
  padding: 32px;
  border-radius: 16px;
  background: #F3F5F6;

  @media (768px <= width) {
    width: 336px;
  }

  @media (1280px <= width) {
    width: 325px;
  }
}

.about-us_list__item::before {
  content: counter(customCounter, decimal-leading-zero);
  counter-increment: customCounter;

  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--accent-color);
}

.about-us_list__text {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.about-us__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 40px;
  border-radius: 16px;
  background-color: var(--accent-color);

  @media (1280px <= width) {
    padding: 90px 27px;
  }
}