.section__subtitle--center {
  @media (min-width: 768px) {
    width: 658px;
  }
}

.about-us__wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;

  @media (max-width: 1279.98px) {
    flex-direction: column;
  }

  @media (min-width: 768px) {
    gap: 32px;
  }
}

.about-us_list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  counter-reset: customCounter;

  @media (max-width: 767.98px) {
    flex-direction: column;
    gap: 20px;
  }

  @media (min-width: 1280px) {
    width: 682px;
  }
}

.about-us_list__item {
  padding: 32px;
  border-radius: 16px;
  background: var(--box-bg-color);

  @media (min-width: 768px) {
    width: 336px;
  }

  @media (min-width: 1280px) {
    width: 325px;
  }
}

.about-us_list__item::before {
  content: counter(customCounter, decimal-leading-zero);
  counter-increment: customCounter;

  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--accent-color);
}

.about-us_list__text {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.about-us__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
  border-radius: 16px;
  background-color: var(--accent-color);

  @media (min-width: 768px) {
    padding: 16px 40px;
  }

  @media (min-width: 1280px) {
    padding: 90px 27px;
  }
}
