.lessons__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

@media (max-width: 1280px) {
  .lessons__menu {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .lessons__menu {
    grid-template-columns: 1fr;
  }
}

.lessons__items {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
}

@media (max-width: 1280px) {
  .lessons__items {
    padding: 32px 16px;
  }
}

@media (max-width: 768px) {
  .lessons__items {
    padding: 32px 20px;
  }
}

.lessons__items--active {
  background-color: var(--accent-color);
  border: none;
}

.lessons-strong {
  color: var(--primary-text-color);
  text-align: center;
  font-family: var(--base-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  /* 120% */
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.lessons-strong--active {
  color: var(--white-color);
}

.lessons-span {
  color: var(--primary-text-color);
  text-align: center;
  font-family: var(--base-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.37;
  /* 137.5% */
  letter-spacing: -0.64px;
  margin-bottom: 16px;
}

.lessons-span--active {
  color: var(--white-color);
}

.lessons__text {
  color: var(--secondary-text-color);
  text-align: center;
  font-family: var(--base-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  margin-bottom: 16px;
}

.lessons__text--active {
  color: var(--light-text-color);
}

.lessons__btn {
  color: var(--white-color);
  font-family: var(--base-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.55;
  text-align: center;
  /* 155.556% */
  padding: 16px 38px;
  border-radius: 12px;
  background-color: var(--accent-color);
  transition: var(--transition-time) var(--transition-effect);
  border: none;
  cursor: pointer;
}

.lessons__btn:hover,
.lessons__btn:focus {
  background-color: var(--dark-hover-color);
}

.lessons__btn--active {
  cursor: pointer;
  border: 1px solid var(--button-border-color);
  transition: var(--transition-time) var(--transition-effect);
}

.lessons__btn--active:hover,
.lessons__btn--active:focus {
  outline: none;
  background-color: var(--light-hover-color);
  color: var(--accent-color);
}
