.section {
  padding-bottom: var(--section-padding-bottom-mobile);

  @media (768px <= width) {
    padding-bottom: var(--section-padding-bottom-tablet);
  }

  @media (1280px <= width) {
    padding-bottom: var(--section-padding-bottom-desktop);
  }
}