.module-team {
  position: relative;
}

@media screen and (max-width: 767px) {
  .module-team:before {
    height: 250px;
  }
}

.title {
  text-align: center;
  margin-bottom: 16px;
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.17;
}
.title > span {
  position: relative;
}
.title > span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  background: var(--highlight-color);
  border-radius: 50px;
  bottom: 10%;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .title:before {
    height: 5px;
    bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 32px;
  }
}.subtitle{
      color: var(--secondary-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 40px;
    max-width: 665px;
    margin: 0 auto;
        margin-bottom: 40px;
}
.team-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.swiper-container {
  cursor: default;
}
  /* Card */
.swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .swiper-container {
    max-width: 375px;
    width: 100%;
  }
}
.swiper-container .swiper-slide {
  background-color: var(--var(--white-color));
  width: 320px;
  height: 340px;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 1px var(--input-border-color);
  position: relative;
  transition: all var(--transition-time) var(--transition-effect);
}
.swiper-container .swiper-slide:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 20px 40px -20px var(--input-border-color);
  top: 0px;
  z-index: -1;
  transition: all var(--transition-time) var(--transition-effect);
}
.swiper-container .swiper-slide .card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 30px;
}
.swiper-container .swiper-slide .card .bg {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  border-radius: 4px 4px 0px 0px;
  transition: all var(--transition-time) var(--transition-effect);
  background: var(--accent-color);
  z-index: 1;
}
.swiper-container .swiper-slide .card .more {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all var(--transition-time) var(--transition-effect);
  border-radius: 100%;
}
.swiper-container .swiper-slide .card .more:before,
.swiper-container .swiper-slide .card .more:after {
  width: 20px;
  height: 2px;
  background-color: var(--white-color);
  content: '';
  position: absolute;
  border-radius: 4px;
  transition: all var(--transition-time) var(--transition-effect);
}
.swiper-container .swiper-slide .card .more:after {
  transform: rotate(90deg);
}
@media screen and (max-width: 767px) {
  .swiper-container .swiper-slide .card .more {
    padding: 10px;
    top: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-container .swiper-slide .card .more:hover {
    transform: scale(1);
    background-color: transparent;
  }
}
.swiper-container .swiper-slide .card .photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 20px;
  transition: all var(--transition-time) var(--transition-effect);
}
.swiper-container .swiper-slide .card .photo:before,
.swiper-container .swiper-slide .card .photo:after {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  content: '';
  position: absolute;
  transition: all var(--transition-time) var(--transition-effect);
  opacity: 0;
  left: 0;
  top: 0;
}

.swiper-container .swiper-slide .card .photo:after {
  background: linear-gradient(
    140deg,
    var(--accent-color),
    var(--highlight-color)
  );
  z-index: 2;
}
.swiper-container .swiper-slide .card .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-container .swiper-slide .card .text {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin-top: 16px;
  transform: translateY(50px);
  transition: all 0.3s ease;
}
.swiper-container .swiper-slide .card .text .name {
  font-size: 20px;
  color: var(--primary-text-color);
  font-weight: 500;
}
.swiper-container .swiper-slide .card .text .role {
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-text-color);
  letter-spacing: 0.8px;
  margin-top: 5px;
}
.swiper-container .swiper-slide .card .text .desc {
  color: var(--white-color);
  display: none;
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 0.6px;
  text-align: center;
  padding: 0 40px;
  font-weight: 400;
  line-height: 22px;
}
.swiper-container .swiper-slide .card .social {
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  transition: all var(--transition-time) var(--transition-effect);
}
.swiper-container .swiper-slide .card .social .pointer {
  display: block;
  width: 10px;
  height: 10px;
  z-index: 2;
  bottom: 50px;
  position: absolute;
  transform: translateX(25px);
  transition: all var(--transition-time) var(--transition-effect);
  opacity: 0;
}
.swiper-container .swiper-slide .card .social .pointer:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--white-color);
  transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .swiper-container .swiper-slide .card .social .pointer {
    display: none;
  }
}
.swiper-container .swiper-slide .card .social .icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.swiper-container .swiper-slide .card .social .icons .icon {
  width: 25%;
  height: 24px;
  opacity: 0.3;
  transition: all var(--transition-time) var(--transition-effect);
}
.swiper-container .swiper-slide .card .social .icons .icon:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .swiper-container .swiper-slide .card .social .icons .icon:hover {
    opacity: 0.3;
  }
}
.swiper-container .swiper-slide .card .social .icons .icon img {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide .card .social:hover .pointer {
  opacity: 1;
  bottom: 45px;
}
.swiper-container .swiper-slide:hover {
  transform: translateY(3px);
}
.swiper-container .swiper-slide:hover:before {
  box-shadow: 0px 10px 10px -10px var(--input-border-color);
}
@media screen and (max-width: 767px) {
  .swiper-container .swiper-slide:hover {
    transform: translateY(0px);
  }
  .swiper-container .swiper-slide:hover:before {
    box-shadow: 0px 20px 40px -20px var(--input-border-color);
  }
}
.swiper-container .swiper-slide:hover .card .photo {
  transform: translateY(-5px);
}
@media screen and (max-width: 767px) {
  .swiper-container .swiper-slide:hover .card .photo {
    transform: translateY(0px);
  }
}
.swiper-container .swiper-slide.show-more .card {
  overflow: hidden;
}
.swiper-container .swiper-slide.show-more .card .more {
  transform: rotate(45deg) scale(1);
}
.swiper-container .swiper-slide.show-more .card .more:hover {
  transform: rotate(45deg) scale(1.1);
}
@media screen and (max-width: 767px) {
  .swiper-container .swiper-slide.show-more .card .more:hover {
    transform: rotate(45deg) scale(1);
  }
}
.swiper-container .swiper-slide.show-more .card .social {
  transform: translateY(55px);
}
.swiper-container .swiper-slide.show-more .card .text {
  color: var(--white-color);
  transform: translateY(0px);
  transition: all 0.6s ease;
}
.swiper-container .swiper-slide.show-more .card .text .name,
.swiper-container .swiper-slide.show-more .card .text .role {
  color: var(--white-color);
}
.swiper-container .swiper-slide.show-more .card .text .desc {
  display: block;
}
.swiper-container .swiper-slide.show-more .card .photo {
  width: 100%;
  height: 100%;
  top: -16px;
  border: solid 0px transparent;
  border-radius: 4px;
  transform: translateY(0px);
  transition: all var(--transition-time) var(--transition-effect);
}
.swiper-container .swiper-slide.show-more .card .photo:before {
  height: 100%;
  opacity: 0.5;
}
.swiper-container .swiper-slide.show-more .card .photo:after {
  height: 100%;
  opacity: 0.8;
  border-radius: 4px;
}
.swiper-container .swiper-slide.show-more .card .photo img {
  filter: grayscale(100%);
}
.swiper-container .swiper-slide.show-more .card .photo:hover {
  transform: translateY(0px);
}
.swiper-container .swiper-slide.show-more .card .bg {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.swiper-container .swiper-slide.show-more .card .bg:before {
  opacity: 0.5;
}
.swiper-container .swiper-slide.show-more .card .bg:after {
  opacity: 0.8;
}
