<footer id="footer" class="footer">
  <div class="footer__container container">
    <!-- The first column containing the logo and contact info  -->
    <div class="footer__contacts">
      <a class="logo logo--light" href="index.html">
        <div class="logotype__wrapper">
          english<span class="logo--accent">excellence</span>.
        </div>
      </a>
      <address>
        <ul class="footer__contact__list list">
          <li class="footer__contact__list__item">
            <span class="label small-text">Phone number:</span>
            <span class="value">
              <a
                href="tel:+380684439426"
                aria-label="Phone number +380 (68) 443-94-26"
                rel="noopener noreferrer"
              >
                +380 (68) 443-94-26
              </a>
            </span>
          </li>
          <li class="footer__contact__list__item">
            <span class="label small-text">Address:</span>
            <span class="value">
              <a
                href="https://www.google.com/maps?q=32a+M.+Bazhana+ave"
                target="_blank"
                rel="noopener noreferrer"
              >
                32a M. Bazhana ave
              </a>
            </span>
          </li>
        </ul>
      </address>
    </div>
    <!-- The second column containing menu items  -->
    <div class="footer__menu">
      <ul class="footer__menu__list list">
        <li class="footer__menu__list__item">
          <a class="footer__menu__link link" href="#about-us">About us</a>
        </li>
        <li class="footer__menu__list__item">
          <a class="footer__menu__link link" href="#lessons">Our lessons</a>
        </li>
        <li class="footer__menu__list__item">
          <a class="footer__menu__link link" href="#teachers">Teachers</a>
        </li>
        <li class="footer__menu__list__item">
          <a class="footer__menu__link link" href="#reviews">Reviews</a>
        </li>
        <li class="footer__menu__list__item">
          <a class="footer__menu__link link" href="#leave">Contact us</a>
        </li>
      </ul>
    </div>
    <!-- The third column containing social media icons  -->
    <div class="footer__social">
      <ul class="footer__social__list">
        <li class="footer__social__list__item">
          <a
            class="footer__social__link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="footer__social__icon"
              width="28"
              height="28"
              aria-label="Facebook icon"
            >
              <use href="/public/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social__list__item">
          <a
            class="footer__social__link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="footer__social__icon"
              width="28"
              height="28"
              aria-label="Instagram icon"
            >
              <use href="/public/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="footer__social__list__item">
          <a
            class="footer__social__link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="footer__social__icon"
              width="28"
              height="28"
              aria-label="Youtube icon"
            >
              <use href="/public/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- This part for copyright-privacy-terms-team -->
  <div class="container copyright-privacy-terms-team">
    <div class="copyright-privacy-terms">
      <div class="top-row">
        <p class="copyright-text small-text">
          ©2023 English Excellence. All rights reserved.
        </p>
        <div class="link-container">
          <a class="terms-link small-text" href="#">Terms of Service</a>
          <a class="privacy-link small-text" href="/privacy-policy"
            >Privacy Policy</a
          >
          <a class="our-team-link small-text" href="team.html">Our Team</a>
        </div>
      </div>
    </div>
  </div>
</footer>
