<section class="section">
  <div class="container">
    <h2 class="section_title">
      Leave an &nbsp;
      <span class="section_title_span"> application </span>
    </h2>
    <p class="leave-section-title-descr">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>

    <div class="leave-content-group">
      <div class="leave-section-adv-box">
        <img src="" alt="Young student" class="leave-section-img" />
        <p>1000</p>
        <p>
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>

      <form class="leave-section-form" method="post">
        <input class="leave-section-input" type="text" placeholder="Name" />
        <input class="leave-section-input" type="email" placeholder="Email" />
        <input class="leave-section-input" type="tel" placeholder="Phone" />
        <textarea
          class="leave-section-textarea"
          name="comment"
          id="comment"
          placeholder="Comment"
        ></textarea>
        <fieldset class="leave-section-rb-fieldset">
          <legend class="leave-section-rb-title">Choose a teacher</legend>

          <div class="leave-section-rd-box">
            <!-- <div class="leave-content-rb-group">
            <div class="leave-section-rb-wrap">
              <input
                class="leave-section-rb-input visually-hidden"
                type="radio"
                name="teacher"
                value="true"
                id="maria"
              />
              <label class="leave-section-rb-wrap-label" for="maria">
                <span class="leave-section-rb-wrap-span">
                  <svg class="icon" width="18" height="18">
                    <use
                      href="english-excellence/assets/team/icons/email.svg"
                    ></use>
                  </svg>
                </span>
                Maria
              </label>
            </div> -->

            <label>
              <input type="radio" name="teacher" value="maria" checked />
              Maria
            </label>
            <label>
              <input type="radio" name="teacher" value="artem" />
              Artem
            </label>
            <label>
              <input type="radio" name="teacher" value="ilona" />
              Ilona
            </label>
            <label>
              <input type="radio" name="teacher" value="volodymyr" />
              Volodymyr
            </label>
          </div>
        </fieldset>

        <button class="leave-section-btn" type="submit">Send</button>

        <p class="leave-section-btn-descr">
          By clicking on “Send” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
