<section id="leave" class="section leave">
  <div class="container">
    <h2 class="section__title">
      Leave an
      <span class="section__title--span"> application </span>
    </h2>
    <p class="section__subtitle">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="leave__content-group">
      <div class="offer-box">
        <picture class="offer-box__img">
          <source
            srcset="
              /assets/img/leave/student.webp    1x,
              /assets/img/leave/student@2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="/assets/img/leave/student.jpg"
            width="492"
            height="392"
            alt="Our student"
          />
        </picture>

        <div class="leave__wrapper">
          <p class="offer-box__text-accent">1000</p>
          <p class="offer-box__text">
            of our online English language lessons! This journey has been full
            of discovery, growth and unforgettable moments, and we are happy to
            share this joyful event with you.
          </p>
        </div>
      </div>
      <form class="leave__form" method="post">
        <ul class="form__list">
          <li class="leave__form-group">
            <input
              class="leave__input"
              type="text"
              placeholder="Name"
              title="Our name"
            />
            <div class="error-message"></div>
          </li>
          <li class="leave__form-group">
            <input
              class="leave__input"
              type="email"
              placeholder="Email"
              title="Input valid email"
            />
            <div class="error-message"></div>
          </li>
          <li class="leave__form-group">
            <input
              class="leave__input"
              type="tel"
              placeholder="Phone"
              title="Input valid phone number"
              pattern="[\+]\d{1}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            />
            <div class="error-message"></div>
          </li>
          <li class="leave__form-group">
            <textarea
              class="leave__textarea"
              name="comment"
              id="comment"
              placeholder="Comment"
            ></textarea>
            <div class="error-message"></div>
          </li>
        </ul>
        <fieldset class="leave__rb-fieldset">
          <legend class="leave__rb-title">Choose a teacher</legend>

          <ul class="leave__rb-box">
            <li>
              <input
                class="leave__radio-btn__input visually-hidden"
                type="radio"
                name="teacher"
                id="maria"
                value="maria"
                checked
              />
              <label class="leave__radio-btn__label" for="maria">
                <span class="leave__radio-btn__label__span">
                  <span class="leave__radio-btn__icon-uncheck"></span>
                  <svg
                    class="leave__radio-btn__icon-check"
                    width="20"
                    height="20"
                  >
                    <use href="/public/icons.svg#radio-btn"></use>
                  </svg>
                </span>
                Maria
              </label>
            </li>
            <li>
              <div>
                <input
                  class="leave__radio-btn__input visually-hidden"
                  type="radio"
                  name="teacher"
                  id="artem"
                  value="artem"
                />
                <label class="leave__radio-btn__label" for="artem">
                  <span class="leave__radio-btn__label__span">
                    <span class="leave__radio-btn__icon-uncheck"></span>
                    <svg
                      class="leave__radio-btn__icon-check"
                      width="20"
                      height="20"
                    >
                      <use href="/public/icons.svg#radio-btn"></use>
                    </svg>
                  </span>
                  Artem
                </label>
              </div>
            </li>
            <li>
              <div>
                <input
                  class="leave__radio-btn__input visually-hidden"
                  type="radio"
                  name="teacher"
                  id="ilona"
                  value="ilona"
                />
                <label class="leave__radio-btn__label" for="ilona">
                  <span class="leave__radio-btn__label__span">
                    <span class="leave__radio-btn__icon-uncheck"></span>
                    <svg
                      class="leave__radio-btn__icon-check"
                      width="20"
                      height="20"
                    >
                      <use href="/public/icons.svg#radio-btn"></use>
                    </svg>
                  </span>
                  Ilona
                </label>
              </div>
            </li>
            <li>
              <div>
                <input
                  class="leave__radio-btn__input visually-hidden"
                  type="radio"
                  name="teacher"
                  id="volodymyr"
                  value="volodymyr"
                />
                <label class="leave__radio-btn__label" for="volodymyr">
                  <span class="leave__radio-btn__label__span">
                    <span class="leave__radio-btn__icon-uncheck"></span>
                    <svg
                      class="leave__radio-btn__icon-check"
                      width="20"
                      height="20"
                    >
                      <use href="/public/icons.svg#radio-btn"></use>
                    </svg>
                  </span>
                  Volodymyr
                </label>
              </div>
            </li>
          </ul>
        </fieldset>
        <button class="leave__btn" type="submit">Send</button>
        <p class="leave__btn-descr">
          By clicking on “Send” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
