<section class="section lessons__section" id="lessons">
  <div class="container lessons__container">
    <h2 class="lessons__title">
      Our <span class="lessons__title-span">lessons</span>
    </h2>
    <p class="lessons__title-text">
      Our lessonss are carefully structured and interactive, designed to promote
      rapid<br />
      language acquisition through practical tasks and real-world scenarios
    </p>
    <ul class="lessons__menu">
      <li class="lessons__items">
        <strong class="lessons-strong">Practice</strong>
        <span class="lessons-span">40$ / month</span>
        <p class="lessons__text">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a href="#leave" class="lessons__btn">Leave an application</a>
      </li>
      <li class="lessons__items lessons__items--active">
        <strong class="lessons-strong lessons-strong--active">Standart</strong>
        <span class="lessons-span lessons-span--active">70$ / month</span>
        <p class="lessons__text lessons__text--active">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a href="#leave" class="lessons__btn lessons__btn--active">
          Leave an application
        </a>
      </li>
      <li class="lessons__items">
        <strong class="lessons-strong">Individual</strong>
        <span class="lessons-span">99$ / month</span>
        <p class="lessons__text">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a href="#leave" class="lessons__btn">Leave an application</a>
      </li>
    </ul>
  </div>
</section>
