<div class="backdrop is-hidden" data-modal>
  <div data-modal-content class="modal">
    <div data-modal-close class="button-close">
      <svg class="close__icon" width="32" height="32">
        <use href="/assets/img/modal/closeBTN.svg#closeNav"></use>
      </svg>
    </div>
    <nav>
      <ul class="modal__nav__list">
        <li>
          <a
            data-modal-close-link
            class="link modal__nav__link"
            href="#about-us"
            >About Us</a
          >
        </li>
        <li>
          <a data-modal-close-link class="link modal__nav__link" href="#lessons"
            >Our Lessons</a
          >
        </li>
        <li>
          <a
            data-modal-close-link
            class="link modal__nav__link"
            href="#teachers"
            >Teachers</a
          >
        </li>
        <li>
          <a data-modal-close-link class="link modal__nav__link" href="#reviews"
            >Reviews</a
          >
        </li>
        <li>
          <a data-modal-close-link class="link modal__nav__link" href="#leave"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <ul class="modal__social__list">
      <li>
        <a
          class="modal__social__link"
          href="https://www.facebook.com/goITclub/?locale=ru_RU"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="modal__social__icon"
            width="28"
            height="28"
            aria-label="Facebook icon"
          >
            <use href="/public/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="modal__social__link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="modal__social__icon"
            width="28"
            height="28"
            aria-label="Instagram icon"
          >
            <use href="/public/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li>
        <a
          class="modal__social__link"
          href="https://www.youtube.com/channel/UCN7NQEBOUuIoXrJZzqVb58Q"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="modal__social__icon"
            width="28"
            height="28"
            aria-label="Youtube icon"
          >
            <use href="/public/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
