<section id="teachers" class="teachers section">
  <div class="container">
    <h2 class="visually-hidden">Teachers</h2>
    <p class="section__title">
      Meet our <span class="section__title--span">teachers</span>
    </p>
    <p class="section__subtitle section__subtitle--center">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list list">
      <li class="teacher-list__item">
        <div class="avatar">
          <picture>
            <source
              srcset="
                /assets/img/teachers/Maria.webp    1x,
                /assets/img/teachers/Maria@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="/assets/img/teachers/Maria@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="/assets/img/teachers/Maria.jpg"
              alt="Maria"
              width="150"
              height="150"
            />
          </picture>
        </div>
        <p class="name">Maria</p>
        <p class="skills">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teacher-list__item">
        <div class="avatar">
          <picture>
            <source
              srcset="
                /assets/img/teachers/Artem.webp    1x,
                /assets/img/teachers/Artem@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="/assets/img/teachers/Artem@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="/assets/img/teachers/Artem.jpg"
              alt="Artem"
              width="150"
              height="150"
            />
          </picture>
        </div>
        <p class="name">Artem</p>
        <p class="skills">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teacher-list__item">
        <div class="avatar">
          <picture>
            <source
              srcset="
                /assets/img/teachers/Ilona.webp    1x,
                /assets/img/teachers/Ilona@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="/assets/img/teachers/Ilona@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="/assets/img/teachers/Ilona.jpg"
              alt="Ilona"
              width="150"
              height="150"
            />
          </picture>
        </div>
        <p class="name">Ilona</p>
        <p class="skills">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teacher-list__item">
        <div class="avatar">
          <picture>
            <source
              srcset="
                /assets/img/teachers/Volodymyr.webp    1x,
                /assets/img/teachers/Volodymyr@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="/assets/img/teachers/Volodymyr@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="/assets/img/teachers/Volodymyr.jpg"
              alt="Volodymyr"
              width="150"
              height="150"
            />
          </picture>
        </div>
        <p class="name">Volodymyr</p>
        <p class="skills">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
