/* Fonts */
@import url('/assets/fonts/fonts.css');

/* Base */
@import url('base/reset.css');
@import url('base/normalize.css');

/* Utils */
@import url('utils/variables.css');
@import url('utils/section.css');
@import url('utils/container.css');
@import url('utils/title.css');

/* Components */
@import url('components/hero.css');
@import url('components/about-us.css');
@import url('components/lessons.css');
@import url('components/proposal.css');
@import url('components/teachers.css');
@import url('components/leave.css');
@import url('components/reviews.css');
@import url('components/team.css');
@import url('components/modal.css');
@import url('components/switch-theme.css');
@import url('components/scroll-up.css');

/* Layouts */
@import url('layout/header.css');
@import url('layout/footer.css');
@import url('utils/logo.css');

:root {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--primary-text-color);
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0;
}

/*custom scroll for desktop*/

@media screen and (min-width: 1280px) {
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background-color: var(--main-bg-color);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  body::-webkit-scrollbar {
    width: 15px;
    background-color: var(--main-bg-color);
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--accent-color);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
}

body {
  background-color: var(--main-bg-color);
  transition: var(--transition-time) var(--transition-effect);
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
