
@import url('base/reset.css');
@import url('layout/header.css');
@import url('components/hero.css');
@import url('components/about-us.css');
@import url('components/lessons.css');
@import url('components/proposal.css');
@import url('components/teachers.css');
@import url('components/leave.css');
@import url('components/reviews.css');
@import url('layout/footer.css');

:root {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
